@import 'styles/variables';
.skill-card{
    max-width: 474px;
    min-width: 453px;
    display: flex;
    flex-direction: column;
    background-color: rgba(59,56,56,.6);padding: 18px;
    .title{
        color: $white;
        border-bottom: 2px solid $white;
        &--sub{
            font-size: 36px;
            text-transform: capitalize;
            color: $white;
            margin-bottom: 24px;
        }
    }
    .flex-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 36px;
        &:last-child{
            margin-bottom: 0px;
        }
       
    }
    .cat-container{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
    .item-container{
        flex: 1;
        margin-right: 50px;
        margin-bottom: 68px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__name{
            font-size: 26px;
            color: $white;
            display: flex;
            align-items: center;
        }
        &__rate{
            position: relative;
            background-color: $rate-container;
            width: 120px;
            height: 18px;
            .volume{
                position: absolute;
                background-color: $rate-value;
                width: 0%;
            height: 100%;
            }
        }
    }
    .line{width: 28px;
        border: 2px solid $white;
        border-left: 0px;
        margin: 26px 18px 0px 0px;
    }
    .level{
        color: $white;
        font-size: 26px;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 6px;
        writing-mode: vertical-rl;text-orientation: mixed;
        margin-top: 26px;
    }
}



